
<div class="jumbotron">
<h1>The dynamically widgetized scrapinator</h1>
<h3>Scraping fitness records since 2013</h3>

<span>Records scraped:</span>
<span><%= @count %></span>

<span><%= link_to "See them in their glory", results_path %>

</div>
